header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
}
.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0px 20px;
}

header ul{
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #30343D;
  margin: 0;
  font-size: 15px;
}

#container {
  max-width: 640px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

#buttons {
  display: flex;
  gap: 8px;
}

a {
  color: #30343D;
  text-decoration: none;
}

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #F6F7F9;
  padding: 12px 20px;
  border: 0;
  border-radius: 48px;
  width: fit-content;
  text-decoration: none;
  transition: 0.2s;
}

.button:hover {
  background-color: #30343D;
  color: #FFFFFF;
}

h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
}


p, h1, h2 {
  margin: 0;
  line-height: 150%;
}


#banner {
  width: 100%;
  display: flex;
  height: 478px;
  justify-content: center;
  align-items: center;
  background-color: #30343D;
  color: #FFFFFF;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container {
  margin: 144px 0px;
  justify-content: center;
}

section .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

h1 {
  font-weight: 500;
  line-height: 140%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

.context {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  max-width: 800px;
  text-align: center;
}

.label {
  color: #9096A3;
  font-weight: 600;
}

#section2 {
  background-color: #F6F7F9;
}

#section2 .button {
  background-color:white ;
}