* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}
.sub_menu{
  display: none;
  position: absolute;
  top: 41px;
  left: 0px;
  background: red;
  text-align: center;
  width: 100%;
  min-width: 50px;
  padding-left: 0;
}
ul{
  list-style-type: none;
  padding: 0;
}
.footer_list_1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer_list_v2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.main_menu{
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}
li{
  list-style: none;
}
li a{
  display: flex;
  gap: 2px;
}

.main_menu>li{
  position: relative;
 
  text-align: center;
  /*border: 3px solid red;*/
 
}

.main_menu>li:hover .sub_menu{
  display: block;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  background-color: white;
}
.footer_title{
  line-height: 140%;
  font-size: 18px;
  display: flex;
  gap: 8px;
}
.footer_contact{
  display: flex;
  gap: 8px;
} 
.container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
.slide_container {
  width: 100vw;
  height: 272px;
  display: flex;
  overflow: hidden;
  margin-bottom: 144px;
  z-index: 2;
}
.slides{
  margin: 0;
  position: relative;
  left: 0; top: 0;
  display: flex; justify-content: space-between;
  
}
.slides.anim{
  transition: 1s linear;
}
.slides li{
  float: left;
  width: 272px;
  height: 272px;
  background-color: beige;

 
}
.slides li:not(:last-child){
  margin-right: 12px;
}
header ul{
  margin: 0;
  list-style: none;
  display: flex;
  gap: 24px;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #30343D;
  margin: 0;
  font-size: 15px;
}

#container {
  max-width: 640px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

#buttons {
  display: flex;
  gap: 8px;
}

a {
  color: #30343D;
  text-decoration: none;
}
.button_1{
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #F6F7F9;
  padding: 12px 20px;
  border: 0;
  border-radius: 48px;
  width: fit-content;
  text-decoration: none;
  transition: 0.2s;
}
.button_1:hover {
  background-color: #30343D;
  color: #FFFFFF;
}
.button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #F6F7F9;
  padding: 12px 20px;
  border: 0;
  border-radius: 48px;
  width: fit-content;
  text-decoration: none;
  transition: 0.2s;
}
.button:hover {
  box-shadow: 0 0 0 1px #FFFFFF inset;;
  background-color: #30343D;
  color: #FFFFFF;
}
.button:hover .boxlink{
  filter: invert(88%) sepia(88%) saturate(3%) hue-rotate(262deg) brightness(109%) contrast(97%);
}
.button_2 {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color:white;
  padding: 12px 20px;
  border: 0;
  border-radius: 48px;
  width: fit-content;
  text-decoration: none;
  transition: 0.2s;
}
.button_2:hover {
  background-color: #30343D;
  color: #FFFFFF;
}
h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
}


p, h1, h2, h3 {
  margin: 0;
  line-height: 150%;
}


#banner {
  width: 100%;
  display: flex;
  height: 478px;
  justify-content: center;
  align-items: center;
  background-image: url(image/background.jpg);
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}

section {
  width: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}
.text_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container {
  margin: 144px 0px;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

section .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

h1 {
  font-weight: 500;
  line-height: 140%;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.context {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  max-width: 800px;
  text-align: center;
}

.label {
  color: #9096A3;
  font-weight: 600;
}

#section2 {
  background-color: #F6F7F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section3 {
  background-color: #F6F7F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxlist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.box {
  background-color: white;
  width: 100%;
  padding: 16px 16px 24px 16px;
  min-width: 340px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.box:hover{
  background-color: #30343D;
  color: #FFFFFF;
}
.box .img {
  width: 100%;
}

.textinbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 8px;
  width: 100%
}

.textinbox div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

footer .container {
  align-items: start;
}

#headerlogo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.boxlink{
  width: 20px;
  height: 20px;
}
.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.modal_overlay{
  background-color: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;
  position: absolute;
}
.imgbox{
  width: 92.5px;
  height: 92.5px;
  background-color: #30343D;
}
.imgboxlist {
  position: absolute;
  top: 30px;
  left: 560px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.button_3{
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #30343D;
  color: #FFFFFF;
  padding: 12px 20px;
  border: 0;
  border-radius: 48px;
  width: fit-content;
  text-decoration: none;
  transition: 0.2s;
  position: absolute;
  top: -20px;
  left: 970px;
}
.button_3:hover {
  background-color: #F6F7F9;
  color: #30343D;
}
.voyage_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.voyage_content .img{
  width: 500px;
}
.voyagetext{
  margin-top: 10px;
  width: 500px;
}
.beginning_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.beginning_content .img{
  width: 500px;
}
.beginningtext{
  margin-top: 10px;
  width: 500px;
}
.conte_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.conte_content .img{
  width: 500px;
}
.contetext{
  margin-top: 10px;
  width: 500px;
}
.paran_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.paran_content .img{
  width: 500px;
}
.parantext{
  margin-top: 10px;
  width: 500px;
}
.what_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.what_content .img{
  width: 500px;
}
.whattext{
  margin-top: 10px;
  width: 500px;
}
.two_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.two_content .img{
  width: 500px;
}
.twotext{
  margin-top: 10px;
  width: 500px;
}
.nan_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.nan_content .img{
  width: 500px;
}
.nantext{
  margin-top: 10px;
  width: 500px;
}
.curt_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.curt_content .img{
  width: 500px;
}
.curttext{
  margin-top: 10px;
  width: 500px;
}
.spec_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.spec_content .img{
  width: 500px;
}
.spectext{
  margin-top: 10px;
  width: 500px;
}
.swim_content{
  position: relative;
  top: 0;
  background-color: #FFFFFF;
  padding: 30px;
  width: 1000px;
  height: 600px;
}
.swim_content .img{
  width: 500px;
}
.swimtext{
  margin-top: 10px;
  width: 500px;
}
.hidden{
  display: none;
}