@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable.css");

body {
  margin: 0;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --deepDark: #30343D;
  --blueIshGray: #9096A3;
  --coolSurface: #F6F7F9;
  --justWhite: #FFFFFF;
  --transparent: rgba(255,255,255,0.9);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Pretendard Variable",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
